body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    /*color: #818181;*/
    color: #111111;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
    /*background-color: #f4511e;*/
    background-color: #111111;
    /*color: #fff;*/
    color: #333333;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    /*padding: 10px 10px;*/
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-top-radius: 10px;
    border-bottom-bottom-radius: 10px;
    border-bottom-style: dot-dot-dash;
}

.dashboard {
    /*background-color: #00b386;*/
    border: 6px solid burlywood;
    background-color: #111111;
    color: #111111;
    padding: 100px 80px;
    font-family: Montserrat, sans-serif;
}

.table-courier-details {
    /*background-color: #00b386;*/
    border: 6px solid burlywood;
    background-color: #555312;
    color: #ffffff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.formdesign {
    /*background-color: #00b386;*/
    border: 6px solid burlywood;
    background-color: #111111;
    color: #ffffff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
    /*border-style: groove;*/
    /*style="width:800px;height:600px">*/
}

.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #ffffff;
    background-color: #cc9900;
    margin-left: 1px;
    margin-right: 1px;
    border-left: 6px solid burlywood;
    border-right: 6px solid burlywood;
    border-top: 6px solid burlywood;
}

.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    /*background-color: #f4511e;*/
    /*background-color: #11511e;*/
    background-color: #555312;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    /*font-family: Montserrat, sans-serif;*/
    font-family: "monospace", "DejaVu Sans";
}
.navbar li a, .navbar .navbar-brand {
    color: #eee !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    /*color: #f4511e !important;*/
    color: #ddd !important;
    background-color: #222 !important;
    /*background-color: #fff !important;*/
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}